h2{
  display: flex;
  align-content: center;
  text-align: left;
  margin-left: 15px;
  margin-top: 15px;
}

.example-card{
  width: 400px;
  margin: 15px;
}
.post-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}