<article [formGroup]="blog" *ngrxLet="blog$ | async as b" class="page-container">
    <h2 *ngIf="isEditing">Editing "{{ b?.title?? "" }}" ...</h2>
    <h2 *ngIf="!isEditing">{{ b?.title?? "" }}</h2>
    <h3 *ngIf="b?.author??'' !== ''">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; by {{ b?.author?? "" }}</h3>
    <input *ngIf="isEditing" placeholder="Title" formControlName="title" class="wide-input"/>
    <p *ngIf="!isEditing">{{ b?.content?? "" }}</p>
    <textarea *ngIf="isEditing" placeholder="Content" formControlName="content" rows="10" cols="50" class="wide-input"></textarea>
    <button mat-raised-button *ngIf="!isEditing" (click)="editBlog()">Edit</button>
    <button mat-raised-button color="accent" *ngIf="isEditing" (click)="updateBlog()">Update</button>
</article>