.new-blog-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 15px;
    margin-left: 20px;

}

h2{
  display: flex;
  text-align: left;
  margin-left: 15px;
  margin-top: 15px;
}

.wide-input {
  width: 100%; /* Set the width to 100% of the parent container */
  max-width: 500px; /* Set a maximum width if needed */
  padding: 10px; /* Add padding for better visual appearance, adjust as needed */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}