<p>post-two works!</p>
<h3>
  4. Configure iMessage:
</h3>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Once signed in, configure your iMessage settings:
</p>
<ul>
  <li>
    Open "Messages."
  </li>
  <li>
    In the menu bar, go to "Messages" > "Preferences."
  </li>
<li>
    Click on the "Accounts" tab.
  </li>
  <li>
    Make sure your Apple ID is selected in the left sidebar.
  </li>
  <li>
    Check the box next to "Enable this account."
  </li>


</ul>

<a routerLink="/list">return</a>
