<br>
<article [formGroup]="profile" (click)="editProfile()" (keyup.enter)="finishEdit()" *ngrxLet="storedProfile$ | async as s">
  <section>
    <b>Name:&nbsp;&nbsp;</b>
    <span *ngIf="!isEditing">{{ s?.name }}</span>
    <input *ngIf="isEditing" formControlName="name" />
  </section>
  <section>
    <b>Address:&nbsp;&nbsp;</b>
    <span *ngIf="!isEditing">{{ s?.address }}</span>
    <input *ngIf="isEditing" formControlName="address" />
  </section>
  <section>
    <b>Gender: &nbsp;&nbsp;</b>
    <span *ngIf="!isEditing">{{ s?.gender }}</span>
    <span *ngIf="isEditing">
          <input type="radio" formControlName="gender" [value]="Gender.Male" [checked]="profile.value.gender === Gender.Male" /> Male
          <input type="radio" formControlName="gender" [value]="Gender.Female" [checked]="profile.value.gender === Gender.Female"/> Female
    </span>
  </section>

  <br><br>
  <section (click)="fromEvent()">
    edit time: {{ s?.editTime | date:'yyyy-MM-dd HH:mm:ss' }}
  </section>
<a routerLink="/list">return</a>
</article>

<!--<button (click)="showGender()">whats my gender???</button>-->
