<h2>Profile</h2>
<article
  class="profile-container"
  [formGroup]="profile"
  *ngrxLet="storedProfile$ | async as s">
  @if (!isEditing) {
    <section>
      <b>Name:&nbsp;&nbsp;</b>
      <span>{{ s?.name }}</span>
    </section>
    <section>
      <b>Address:&nbsp;&nbsp;</b>
      <span>{{ s?.address }}</span>
    </section>
    <section>
      <b>Gender: &nbsp;&nbsp;</b>
      <span>{{ s?.gender }}</span>
    </section>
  }
  @if (isEditing) {
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Name" formControlName="address" />
      </mat-form-field>
    </section>
    <section>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        formControlName="gender">
        <mat-radio-button
          class="example-radio-button"
          [value]="Gender.Male"
          [checked]="profile.value.gender === Gender.Male"
          >Male</mat-radio-button
        >
        <mat-radio-button
          class="example-radio-button"
          [value]="Gender.Female"
          [checked]="profile.value.gender === Gender.Female"
          >Female</mat-radio-button
        >
      </mat-radio-group>
    </section>
  }
  <br /><br />
  <section>
    Edited time: {{ s?.editTime | date: 'yyyy-MM-dd HH:mm:ss' }}
  </section>
  <br /><br />
  @if (!isEditing) {
    <button mat-raised-button color="primary" (click)="editProfile()">
      Update Profile
    </button>
  }
  @if (isEditing) {
    <button mat-raised-button color="accent" (click)="finishEdit()">
      Save Profile
    </button>
  }
</article>
