h2{
  display: flex;
  align-content: center;
  text-align: left;
  margin-left: 15px;
  margin-top: 15px;
}


.example-radio-button {
  margin: 5px;
}

.profile-container{
  display: block;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 20px;
  justify-items: left;
}